body {
	background-image: url("pink.jpg");
}

	.login_div1 , .login_div2
	{
		background: black;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

#l{
	font-size: 25px;
	font-family: sans-serif;
}
.login{
	border-style: solid;
	border-color: black;
	width: 515px;
	padding-bottom: 50px;
	float: right;
	margin-right: 200px;
	
}
body{
	border-style: solid;
	border-color: black;
	border-width: 20px;
	background-image: "pink.jpg";
}

